<div class="container my-5">
  <div class="card">
    <div class="card-header">
      <b>Announcement List</b>
      <%= link_to('Create New Announcement', new_announcement_path, class: "btn btn-secondary float-right btn-sm") %>
    </div>
    <div class="card-body">
      <% @announcements.each do |announcement| %>
        <center>
          <div class="card" style="width: 40rem;">
            <img class="card-img-top"
            <%= announcement.image.valid? == true ? 
                    image_tag(announcement.image, width: '50px') : image_tag("/images/announce.png", width: '50px') %>
            <div class="card-body">
              <h5 class="card-title"><%= announcement.title %></h5>
              <p class="card-text"><%= announcement.description %></p>
            <div>
              <%= link_to('Show', announcement_path(announcement), class: "btn btn-success btn-sm") %>
              <% if can? :update, announcement %>
                <%= link_to('Edit', edit_announcement_path(announcement), class: "btn btn-primary btn-sm") %>
              <% end %>
              <% if can? :delete, announcement %>
                <%= link_to(
                      'Delete',
                      announcement_path(announcement),
                      method: :delete,
                      data: { confirm: 'Do you want to delete this Announcement?' },
                      class: "btn btn-danger btn-sm",
                    ) %>
              <% end %>
              </div>
            </div>
          </div>
        </center>
        <br>
      <% end %>
      <br>
      <%= paginate @announcements %>
    </div>
  </div>
</div>
